@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager


<div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
    <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
        <span class="mr-2">
            <img src="~/img/demo/avatars/@(Settings.Theme.Avatar)" class="rounded-circle profile-image" alt="@(Settings.Theme.User)">
        </span>
        <div class="info-card-text">
            <div class="fs-lg text-truncate text-truncate-lg">@(Settings.Theme.User)</div>
            <span class="text-truncate text-truncate-md opacity-80">@(Settings.Theme.Email)</span>
        </div>
    </div>
</div>
<div class="dropdown-divider m-0"></div>

@*Se o usuário esta logado exibir o link de logout*@
@if (SignInManager.IsSignedIn(User))
{
    <form method="post" asp-controller="account" asp-action="logout">
        <button type="submit" style="width:auto"
                class="dropdown-item">
            Logout @User.Identity.Name
        </button>
    </form>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="UserRoles" asp-action="Index">User Roles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="RoleManager" asp-action="Index">Role Manager</a>
    </li>

} else {

    <a class="dropdown-item" asp-controller="account" asp-action="register">
        <span data-i18n="drpdwn.reset_layout">Registrar</span>

    </a>
    <a class="dropdown-item" asp-controller="account" asp-action="login">
        <span data-i18n="drpdwn.reset_layout">Login</span>
    </a>
}

@* <a href="#" class="dropdown-item" data-action="app-reset">
	<span data-i18n="drpdwn.reset_layout">Reset Layout</span>
</a>
 *@

@* <a href="#" class="dropdown-item" data-toggle="modal" data-target=".js-modal-settings">
	<span data-i18n="drpdwn.settings">Settings</span>
</a> *@



<div class="dropdown-divider m-0"></div>
<a href="#" class="dropdown-item" data-action="app-fullscreen">
    <span data-i18n="drpdwn.fullscreen">Fullscreen</span>
    <i class="float-right text-muted fw-n">F11</i>
</a>
<div class="dropdown-divider m-0"></div>
<a href="#" class="dropdown-item" data-action="app-print">
    <span data-i18n="drpdwn.print">Print</span>
    <i class="float-right text-muted fw-n">Ctrl + P</i>
</a>

