@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="info-card">


    @if (!SignInManager.IsSignedIn(User) || UserManager.GetUserAsync(User).Result.ProfilePicture == null)
    {
            <img src="~/img/demo/avatars/@(Settings.Theme.Avatar)" class="profile-image rounded-circle" alt="@(Settings.Theme.User)">
    }

	<div class="info-card-text">

        @if (SignInManager.IsSignedIn(User))
        {
            @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
            {
                <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))">
            }
        }


		<span class="d-inline-block text-truncate text-truncate-sm">Toronto, Canada</span>
	</div>
	<img src="~/img/card-backgrounds/cover-5-lg.png" class="cover" alt="cover">
	<a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
		<i class="@(Settings.Theme.IconPrefix) fa-angle-down"></i>
	</a>
</div>